.chat_icon {
  position: fixed;
  right: 50px;
  bottom: 40px;
  cursor: pointer;
  z-index: 99999;
  width: 70px;
  height: 70px;
  transform: scale(0.9);
  transition: transform 0.1s;
  z-index: 99999999999;
}
.chat_icon svg {
  z-index: 999999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
}
.chat_icon:hover {
  cursor: pointer;
  transform: scale(0.95);
}

@keyframes animated_circle {
  from {
    width: 80px;
    height: 80px;
    opacity: 1;
  }
  to {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}

.chat_icon_circle {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #dfe4fd;
  top: -5px;
  left: -5px;
  z-index: 9999;
  border-radius: 1000px;
}
.chat_icon_animated_circle {
  position: absolute;
  animation-name: animated_circle;
  animation-duration: 1.3s; /* total cycle = 2s */
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  border: 1px solid #dfe4fd;
  border-radius: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chat_overlay {
  position: fixed;
  top: 0;
  left: 0;
  /*height: 100vh;*/
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}
.chat_overlay_active {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.chat_icon_telegram,
.chat_icon_viber,
.chat_icon_chat {
  position: absolute;
  bottom: 55px;
  right: 73px;
  transform: scale(1.9);
  transition:
    bottom 0.3s ease,
    right 0.3s ease,
    transform 0.5s ease;
}
.chat_icon_telegram:hover,
.chat_icon_viber:hover,
.chat_icon_chat:hover {
  transform: scale(2.2);
}

.chat_overlay_active .chat_icon_telegram {
  bottom: 140px;
  right: 70px;
}
.chat_overlay_active .chat_icon_viber {
  bottom: 120px;
  right: 135px;
}
.chat_overlay_active .chat_icon_chat {
  bottom: 55px;
  right: 155px;
}

@media (max-width: 950px) {
  .chat_icon {
    right: 30px;
    bottom: 20px;
  }
  .chat_overlay_active .chat_icon_telegram {
    bottom: 140px;
    right: 50px;
  }
  .chat_overlay_active .chat_icon_viber {
    bottom: 116px;
    right: 115px;
  }
  .chat_overlay_active .chat_icon_chat {
    bottom: 55px;
    right: 137px;
  }
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .chat_icon {
    bottom: calc(40px + env(safe-area-inset-bottom));
  }
}
