.faq {
  width: 100%;
  max-width: 1180px;
  border-radius: 20px;
  display: flex;
  padding: 40px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 40px auto;
}
.faq_title {
  font-size: 32px;
  /*font-weight: 600;*/
  /*font-family: Poppins;*/
  /*color: var(--theme_primary_color_blue_6);*/
}
.faq_inside {
  width: 100%;
}
.faq_after {
  width: 100%;
  height: 0px;
  margin-bottom: -0px;
}

@media (max-width: 1300px) {
  .faq {
    width: 880px;
  }
}

@media (max-width: 940px) {
  .faq {
    width: 580px;
  }
}

@media (max-width: 650px) {
  .faq {
    width: calc(100vw - 40px);
    padding: 40px 30px;
  }
}
