.popup_block.show {
  opacity: 1;
  display: flex;
}
.popup_block {
  width: 100%;
  height: 100%;
  background-color: rgba(166, 166, 166, 0.68);
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*background-color: rgba(0, 0, 0, 0.35);*/
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
  overflow-y: auto;
  display: none;
  opacity: 0;
  align-items: center;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -ms-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  overflow-y: scroll;
  transition: opacity 1s ease-in-out;
}
.popup_block.show .popup_block_inside {
  transform: translateY(0);
  opacity: 1;
}
.popup_block_inside {
  box-sizing: border-box;
  border-radius: 12px;
  padding: 40px;
  background: #fff;
  width: 95vw;
  max-width: 600px;
  margin: 10vw 0 10vw 0;
  position: relative;
  color: #1d1d1f;
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  transform: translateY(30px);
  transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -webkit-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -moz-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -ms-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -o-transition:
    transform 0.3s ease,
    opacity 0.6s ease;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.popup_close_button {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.popup_block::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit-based browsers */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.popup_block {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.popup_table {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f2f5ff;
  margin-bottom: 20px;
  margin-top: 5px;
}
.popup_table thead {
  background: #fff;
  border-radius: 8px;
}
.popup_table thead td {
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  background: #f2f5ff;
}
.popup_table tbody td {
  box-sizing: border-box;
  padding: 1px 10px;
  border-bottom: 1px solid #eceffa;
  background: #00000003;
}
.popup_table tbody tr:last-child td {
  border-bottom: 1px solid transparent;
}

@media (max-width: 720px) {
  .popup_table_wrapper_outer .popup_table {
    min-width: 520px;
  }

  .popup_table_wrapper_outer {
    position: relative;
  }

  .popup_table_wrapper {
    overflow-x: scroll !important;
    overflow-y: hidden;
    /*padding-bottom: 10px;*/

    /* Prevent scrollbars from fading */
    -webkit-overflow-scrolling: auto !important; /* disables momentum/fade */
    scrollbar-gutter: stable both-edges !important;

    scrollbar-width: thin;
    /*scrollbar-color: #adbbff #eeeeee;*/
    scrollbar-color: transparent transparent;

    /* Forces layout shift to keep scrollbar space */
    overflow-anchor: none;
  }

  /* WebKit (Chrome, Safari) */
  .popup_table_wrapper::-webkit-scrollbar {
    height: 2px;
  }

  .popup_table_wrapper::-webkit-scrollbar-track {
    background-color: #eeeeee !important; /* force visibility */
    border-radius: 5px;
  }

  .popup_table_wrapper::-webkit-scrollbar-thumb {
    /*background-color: #adbbff;*/
    background-color: transparent;
    border-radius: 5px;
  }

  /* Prevent scrollbar from fading (macOS) */
  html,
  body,
  .popup_table_wrapper {
    -webkit-scrollbar-thumb: always-show;
    scrollbar-face-color: auto;
  }

  /* Fading overlays */
  .fade-left,
  .fade-right {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    transition: opacity 0.4s ease;
    opacity: 1;
  }

  .fade-left {
    left: -1px;
    background: linear-gradient(to left, transparent, white);
  }

  .fade-right {
    right: -1px;
    background: linear-gradient(to right, transparent, white);
  }
}

@media (max-width: 440px) {
  .popup_block_inside {
    padding: 40px 20px;
  }
}
.popup_table_wrapper_outer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.popup_table_wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.popup_table_wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.popup_table_wrapper_inner {
  display: inline-block;
  min-width: 100%;
}

.fake-scrollbar {
  height: 6px;
  width: 100%;
  background-color: #eeeeee;
  position: relative;
  margin-top: 4px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  z-index: 9;
}

.fake-scrollbar-thumb {
  height: 100%;
  background-color: #adbbff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
