.MyApp {
  margin: 40px auto 40px;
  width: 100%;
  max-width: 1180px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 30px 45px 37px 45px;
  box-sizing: border-box;
  height: 222px;
  overflow: hidden;
}
.MyApp_text {
  width: 100%;
  max-width: 580px;
  color: #333;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.18px;
  margin: 7px 0 22px;
}
.MyApp_text_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MyApp_Img {
  position: absolute;
  bottom: 0;
  width: 440px;
  height: auto;
  right: 20px;
}

.MyApp_text_btn {
  cursor: pointer;
}
.MyApp_text_btn:hover .MyApp_text_btn_bg {
  fill: var(--theme_primary_color_gray);
}
.MyApp_text_btn_border {
  stroke: var(--theme_primary_color_dark_gray);
}
.MyApp_text_btn:hover .MyApp_text_btn_border {
  stroke: var(--theme_primary_color_gray);
}

@media (max-width: 1300px) {
  .MyApp {
    max-width: 880px;
    padding: 20px 45px 20px 45px;
    box-sizing: border-box;
    height: 252px;
  }
  .MyApp_Img {
    right: -160px;
    width: 510px;
  }
  .MyApp_title {
    max-width: 420px;
  }
  .MyApp_text {
    max-width: 420px;
    height: 48px;
  }
}
@media (max-width: 940px) {
  .MyApp {
    width: 580px;
    padding: 30px 45px 20px 45px;
    height: auto;
  }
  .MyApp_Img {
    position: relative;
    margin-top: 30px;
    margin-bottom: -25px;
    right: auto;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .MyApp {
    width: calc(100vw - 40px);
  }
}

@media (max-width: 500px) {
  .MyApp_text_btns {
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
  }
  .svg_line {
    stroke: transparent;
  }
  .MyApp_text_icons {
    margin-left: -10px !important;
  }
  .MyApp_text {
    max-width: 100%;
    height: auto;
  }
  .MyApp_Img {
    width: 120vw;
    margin-right: -30px;
  }
}

@media (max-width: 500px) {
  .MyApp {
    padding: 30px 30px 20px 30px;
  }
}
