.home_hero {
  border-radius: 20px;
  width: 100%;
  max-width: 93vw;
  /*max-width: 1600px;*/
  /*height: 600px;*/
  aspect-ratio: 16/5;
  margin: 20px auto 0;
  position: relative;
  overflow: hidden;
  background: var(--theme_primary_color_light_gray);
}
.home_slider_main {
  width: 100%;
  display: flex;
  cursor: pointer;
}
.home_hero_img_desk {
  width: 100%;
  height: auto;
}
.home_carousell {
  width: 100%;
  max-width: 1180px;
  margin: 30px auto 30px;
}
.home_title {
  width: 100%;
  max-width: 1800px;
  margin: 25px auto -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_title_exclusiv {
  max-width: 500px;
  text-align: center;
}

.home_carousell :global(.ShopCard) {
  margin: 0 auto;
}

.home_topbar {
  width: 100%;
  /*border-bottom: 1px solid var(--theme_primary_color_blue_3);*/
  margin: -10px 0 0px;
}
.home_topbar_inside {
  width: 100%;
  max-width: 1180px;
  margin: 10px auto -20px;
}
.home_topbar_block {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--theme_primary_color_black);
  padding: 15px 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.home_topbar_block:hover {
  background: var(--theme_primary_color_light_gray);
}
.home_topbar_block:hover .home_topbar_block_stroke,
.home_topbar_block:hover .home_topbar_block_fill {
  background: var(--theme_primary_color_light_gray) !important;
}

.home_carousell :global(.slick-prev:before) {
  content: url('data:image/svg+xml;charset=UTF-8,<svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.94894 1.90755L1.6585 9.97889L8.94871 18.0934" stroke="%232F3043" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>') !important;
  margin-left: -100px !important;
}
.home_carousell :global(.slick-next:before) {
  content: url('data:image/svg+xml;charset=UTF-8,<svg style="transform:rotate(180deg)" width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.05116 18.0923L8.34149 10.0209L1.05116 1.90653" stroke="%232F3043" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>') !important;
  margin-left: -100px !important;
}
.home_discount_block {
  width: 100%;
  max-width: 1180px;
  margin: 90px auto 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 0 0 20px;
}
.home_discount_block_small_title {
  font-size: 14px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.4);
}
.home_discount_block_title {
  font-family: 'Source Sans Pro';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.3px;
  margin-top: 0px;
}
.home_discount_block_list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0 25px;
}
.home_discount_block_list_row {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.home_discount_block_list_svg {
}
.home_discount_block_list_text {
}
.home_discount_block_list_text span {
}
.home_discount_block_title_span {
  font-weight: 700;
}
.home_discount_block_title span {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.home_discount_block_list_text {
  font-weight: 500;
}
.home_discount_block_img {
  height: 400px;
  position: absolute;
  right: 0;
}
.home_carousell_phones {
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 30px 0;
  margin: 20px 0 30px;

  background: #f2f3f6;
  padding: 60px 0;
}
.home_carousell_phones :global(.ShopCard) {
  background: #fff;
  border-color: #fff;
}
.home_topbar_block_svg {
  height: 35px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
