.home_hero {
  border-radius: 20px;
  width: 100%;
  max-width: 93vw;
  /*max-width: 1600px;*/
  /*height: 600px;*/
  aspect-ratio: 16/5;
  margin: 20px auto 0;
  position: relative;
  overflow: hidden;
  background: var(--theme_primary_color_light_gray);
}
.home_slider_main {
  width: 100%;
  display: flex;
}
.home_hero_img_desk {
  width: 100%;
  height: auto;
}
