.hero {
  position: relative;
}
.hero_img_block {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.hero_img_tablet {
  display: none;
}
.hero_btn {
  position: absolute;
  bottom: 80px;
  left: 157px;
  display: flex;
  gap: 12px;
  color: #fff;
  font-family: Poppins;
  font-size: 17.504px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.686px; /* 118.182% */
  letter-spacing: -0.525px;
  justify-content: center;
  align-items: center;
}
.hero_btn a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transform: scale(1);
  transition: 0.2s transform ease-in-out;
}
.hero_btn a:hover {
  transform: scale(1.02);
  color: var(--theme_primary_color_blue_3);
}
.hero_img {
  width: 100%;
  height: auto;
}
.title_main {
  margin-top: 30px;
}
.title_3_span {
  font-weight: 400;
}

.why {
  width: 100%;
  max-width: 1180px;
  display: flex;
  gap: 10px;
  margin: 40px auto 65px;
  justify-content: center;
  flex-wrap: wrap;
}
.why_card {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.why_card_text {
  width: 100%;
  text-align: center;
  color: #454b52;
  font-size: 14px;
  line-height: 18px;
}
.why_card_text_span {
  max-width: 95%;
  margin: 0 auto;
}
.why_card_title {
  font-weight: 600;
  font-size: 24px;
  margin: 5px 0 10px;
  color: #222;
}

.domenii {
  margin-top: 80px;
  color: var(--theme_primary_color_blue_6);
}
.abonaments :global(.slick-dots) {
  margin-top: 15px !important;
}
.abonaments :global(.slick-next:before) {
  content: none !important;
}
.abonaments :global(.slick-next) {
  right: -40px !important;
  margin-top: -60px !important;
  width: 36px;
  height: 36px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  color: #bdbdbe; /* default tint for the arrow */
  transition: color 0.2s ease-in-out;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'><rect width='36' height='36' rx='18' fill='%23F2F2F3'/><path fill='currentColor' d='M23.5587 16.916C24.1447 17.5 24.1467 18.446 23.5647 19.034L16.6077 26.056C16.3147 26.352 15.9287 26.5 15.5427 26.5C15.1607 26.5 14.7787 26.355 14.4867 26.065C13.8977 25.482 13.8947 24.533 14.4777 23.944L20.3818 17.984L14.4408 12.062C13.8548 11.478 13.8528 10.5279 14.4378 9.941C15.0218 9.354 15.9738 9.353 16.5588 9.938L23.5587 16.916Z'/></svg>") !important;
  transform: rotate(180deg);
}
.abonaments :global(.slick-prev:before) {
  content: none !important;
}
.abonaments :global(.slick-prev) {
  left: -45px !important;
  margin-top: -60px !important;
  width: 36px;
  height: 36px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  color: #bdbdbe; /* default tint for the arrow */
  transition: color 0.2s ease-in-out;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'><rect width='36' height='36' rx='18' fill='%23F2F2F3'/><path fill='currentColor' d='M23.5587 16.916C24.1447 17.5 24.1467 18.446 23.5647 19.034L16.6077 26.056C16.3147 26.352 15.9287 26.5 15.5427 26.5C15.1607 26.5 14.7787 26.355 14.4867 26.065C13.8977 25.482 13.8947 24.533 14.4777 23.944L20.3818 17.984L14.4408 12.062C13.8548 11.478 13.8528 10.5279 14.4378 9.941C15.0218 9.354 15.9738 9.353 16.5588 9.938L23.5587 16.916Z'/></svg>") !important;
  transform: rotate(180deg);
}
.abonaments :global(.slick-prev) {
  margin-top: -30px !important;
}
.abonaments :global(.slick-next) {
  margin-top: -25px !important;
}
.abonaments {
  width: 100%;
  max-width: 780px;
  margin: 20px auto 10px;
}

.roaming_carousell {
  width: 100%;
  max-width: 1180px;
  margin-top: 5px;
}
.abonaments_block {
  padding: 1px;
  box-sizing: border-box;
}
.roaming_carousell_block_sp {
  background: #dfe4fd;
  padding: 2px;
  box-sizing: border-box;
  width: 384px;
  border-radius: 22px;
}
.roaming_carousell_block_sp_title {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  width: 100%;
  margin: 3px auto -28px;
}
.roaming_carousell_block_sp .roaming_carousell_block_inside {
}
.roaming_carousell_block_inside {
}
.abonaments_block_inside {
  margin: 30px 0px auto;
  background-color: #f2f3f7;
  border: 1.25px transparent var(--theme_primary_color_gray_3);
  width: 380px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
}
.abonaments_block_inside_img {
  width: calc(100% + 60px);
  margin-left: -30px;
}
.abonaments_block_inside_certified {
  width: 80px;
  margin: 20px 0;
}
.abonaments_block_inside_title {
  font-weight: 700;
  margin: 20px 0 20px;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  /*background: #fff;*/
  /*border-radius: 100px;*/
  /*padding: 10px 30px;*/
  /*box-sizing: border-box;*/
}
.abonaments_block_inside_pretitle {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
}
.abonaments_block_inside_subtitle {
  margin: 0px 0 5px;
  /*min-height: 90px;*/
  font-size: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.abonaments_block_inside_subtitle_icon {
  width: 24px;
  height: 24px;
}
.abonaments_block_inside_subtitle_small {
  opacity: 0.5;
  font-size: 13px;
  text-decoration: line-through;
}

.abonaments_block_inside_btns {
  display: flex;
  /*align-items: flex-start;*/
  gap: 15px;
  width: 100%;
  align-items: center;
  margin-top: 40px;
}

.mobile_carousell_block_btn_buy {
  /*width: 100%;*/
}
.btn_hero_secondary {
  font-weight: 700 !important;
  border-width: 2px !important;
}

.mobile_carousell_price {
  color: var(--theme_primary_color_black);
  font-family: Poppins, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.97px; /* 97.289% */
  letter-spacing: -1.14px;
  margin-bottom: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.mobile_carousell_price_valuta {
  color: var(--theme_primary_color_black);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 116.667% */
}
.mobile_carousell_price_old {
  color: rgba(0, 0, 0, 0.25);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 100% */
  text-decoration-line: line-through;
  /*margin-top: 1px*/
}

.mobile_carousell_tags {
  display: flex;
  align-items: center;
  gap: 3px;
}
.mobile_carousell_tag {
  color: #212a55;
  text-align: center;
  font-family: Inter;
  font-size: 11.625px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px; /* 94.624% */
  display: flex;
  height: 24px;
  padding: 7px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 100px;
  background: #cfd7ff;
}
.tm_carousell_block_row_tags {
  display: flex;
  margin: 42px 0 10px;
}
.tm_carousell_block_row_tag {
  color: #212a55;
  font-family: Inter;
  font-size: 11.625px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px; /* 94.624% */
  display: flex;
  height: 24px;
  padding: 7px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 100px;
  background: #cfd7ff;
}

.roaming_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px auto 10px;
  padding: 0 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.eco {
  width: 100%;
  max-width: 1180px;
  margin: 40px auto 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  display: none;
}
.eco_card {
  border-radius: 24px;
  background: rgba(130, 200, 79, 0.38);
  padding: 30px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 580px;
  text-align: center;
  width: 100%;
}
.eco_card_text {
  height: 78px;
}
.eco_icon {
}

.what {
  width: 100%;
  max-width: 1180px;
  margin: 15px auto 0px;
  display: flex;
  gap: 20px;
}
.what_img_block {
  width: 100%;
  max-width: 580px;
  border-radius: 24px;
  overflow: hidden;
}
.what_img_block_1 {
  background: url('/images/landings/88618812.webp');
  background-size: cover;
  background-position: center;
}
.what_img_block_2 {
  background: url('/images/landings/88618813.webp');
  background-size: cover;
  background-position: center;
}
.what_img {
  min-height: 100%;
  height: auto;
}
.what_right {
  width: 100%;
  max-width: 580px;
  background: var(--theme_primary_color_blue_3);
  padding: 40px 100px 40px 30px;
  border-radius: 24px;
  box-sizing: border-box;
}

.what_title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}
.what_tsubitle {
  margin: -10px 0 10px;
}
.what_list {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.what_list_row {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}
.what_right_2 {
  padding: 40px 30px 40px 30px;
}

.regio {
  width: 100%;
  /*max-width: 1500px;*/
  background: #e6f4dc;
  padding: 10px 10px;
  box-sizing: border-box;
  margin: 0px auto 0px;
  font-family: Poppins, sans-serif;
  display: flex;
  /*border-radius: 15px;*/
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.regio_select {
  color: var(--theme_primary_color_blue_6);
  cursor: pointer;
}
.regio_select:hover {
  text-decoration: underline;
}
.popup_regio_selects {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin: 25px auto 20px;
}
.popup_regio_select {
  /* 1) ascundem controlul nativ */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* 2) stil general */
  height: 46px;
  border-radius: 100px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 14px;

  /* 3) spaţiu în dreapta pentru săgeată */
  padding: 0 40px 0 20px;

  /* 4) icon‑arrow custom poziţionat cu 20px mai la stânga de marginea dreaptă */
  background-image: url('/images/svg/ui_svg/select_arrow.svg'); /* sau data‑uri SVG */
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 16px; /* ajustaţi după dimensiunea iconiţei */
  border: 1px transparent;
}
.regio_block_mobile {
  background: rgba(146, 213, 92, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0;
  padding: 5px 30px 5px;
  border-radius: 10px 10px 0 0;
  right: 50%;
  transform: translateX(50%);
  color: white;
  min-width: 215px;
  text-align: center;
}
.modem {
  width: 100%;
  height: 300px;
  /*background: #001428;*/
  /*background: linear-gradient(90deg, #001428 0%, #00478e 100%);*/
  margin: 60px auto 0px;
  background-image: url('/images/landings/10577085.webp');
}
.modem_img {
  position: absolute;
  max-width: 580px;
  top: 0;
  right: 0;
}
.modem_inside {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 0 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.modem_inside_title {
  text-align: start;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
.modem_inside_text {
  color: #ffffff;
  max-width: 580px;
  margin: 20px 0 0;
}

.modem_inside_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0 0;
}
.modem_inside_row {
  color: #ffffff;
  display: flex;
  gap: 5px;
}

.roaming_warning {
  width: calc(100vw - 40px);
  max-width: 1180px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f3f5ff;
  display: flex;
  align-items: stretch;
  gap: 0px;
  overflow: hidden;
  justify-content: flex-start;
}
.roaming_warning_red {
  width: 8px;
  height: auto;
  background-color: #f8af43;
}
.roaming_warning_inside {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
}

.buy_popup_error,
.buy_popup_success {
  width: 100%;
  min-height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.selected_popup_subcription {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 20px;
  padding: 5px 0px 0;
  line-height: 24px;
  font-weight: 600;
  /*background: var(--theme_primary_color_blue_3);*/
  /*border-radius: 100px;*/
}
.selected_popup_subcription span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
.popup_discalmer {
  max-width: 620px;
  width: 100%;
  font-size: 10px;
  line-height: 10px;
  opacity: 0.5;
  margin-top: 10px;
}

@media (max-width: 1300px) {
  .roaming_warning {
    max-width: 880px;
  }
}
@media (max-width: 1150px) {
  .roaming_warning {
    max-width: 580px;
  }
}

@media (max-width: 650px) {
  .roaming_warning {
    margin-bottom: 40px;
    margin-top: 5px;
  }
  .roaming_warning_red {
    width: 10px;
  }
}
@media (max-width: 1300px) {
  .hero {
    width: 1300px;
    margin-left: calc((1300px - 100vw) / -2);
  }
  .why_card {
    width: 300px;
  }
  .what_right {
    max-width: 510px;
    padding: 40px 20px 40px 30px;
  }
  .what {
    max-width: 930px;
  }
  .what_img {
    max-width: 400px;
  }
  .what_img_block {
    max-width: 400px;
  }
  .modem_inside {
    max-width: 900px;
  }
  .eco_card {
    max-width: 430px;
  }
  .modem_inside_text {
    max-width: 430px;
  }
  .modem_img {
    right: -90px;
  }
  .hero_btn {
    left: 137px;
  }
}
@media (max-width: 1150px) {
  .hero {
    width: 1150px;
    margin-left: calc((1150px - 100vw) / -2);
  }
  .hero_btn {
    left: 117px;
    bottom: 60px;
  }
}

@media (max-width: 950px) {
  .hero {
    width: 1000px;
    margin-left: calc((1000px - 100vw) / -2);
  }
  .hero_btn {
    display: none;
  }
  .regio {
    font-size: 14px;
    line-height: 16px;
  }
  .what {
    display: flex;
    flex-direction: column;
    width: 580px;
    align-items: center;
    gap: 0px;
    border-radius: 24px;
    overflow: hidden;
    max-width: 96vw;
  }
  .what_right {
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
  }
  .what_2 {
    flex-direction: column-reverse;
  }
  .what_img_block_2 {
    background-position-y: 10%;
  }
  .what_img_block {
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
  }
}
.modem_img_2 {
  display: none;
}

@media (max-width: 950px) {
  .hero_img_tablet {
    display: block;
    width: 1400px;
    margin-left: calc((1400px - 100vw) / -2);
  }
  .hero {
    margin-left: 0;
    width: 100%;
  }
  .hero_img {
    display: none;
  }
  .abonaments {
    max-width: 388px;
  }
  .roaming_carousell_block_sp {
    max-width: 96vw;
  }
  .modem_inside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 00px;
    box-sizing: border-box;
    text-align: center;
    max-width: 94vw;
  }
  .modem_inside_title {
    max-width: 94vw;
    text-align: center;
    width: 100%;
  }
  .domenii {
    margin-top: 30px;
  }
  .modem_img {
    display: none;
  }
  .modem_img_2 {
    display: block;
    width: 96vw;
    max-width: 500px;
    margin-top: 30px;
    /*margin-left: 70px;*/
  }
  .modem {
    height: auto;
  }
}

@media (max-width: 650px) {
  .hero_img_tablet {
    display: block;
    width: calc(100vw * 2.3);
    margin-left: calc(((100vw * 2.3) - 100vw) / -2);
  }
  .abonaments {
    /*width: 96vw;           !* ← don’t forget your semicolon *!*/
    max-width: 96vw;
    width: 400px;
  }

  .abonaments_block_inside {
    /* cap the available space at 96vw */
    --avail: 96vw;
    /* compute a unitless scale factor */
    --s: calc(var(--avail) / 380px);
    /* only scale down (never above 1) */
    --scale: min(1, var(--s));

    transform: scale(var(--scale));
    transform-origin: top center;
  }

  .abonaments :global(.slick-next) {
    right: -10px !important;
    border: 3px solid #fff;
    border-radius: 100px;
  }

  .abonaments :global(.slick-prev) {
    left: -20px !important;
    border: 3px solid #fff;
    border-radius: 100px;
  }
}
