.functions {
  margin: 40px auto 40px;
  width: 100%;
  max-width: 1180px;
  position: relative;
}
.functions_title {
  margin: 0px auto 15px;
  width: 100%;
  max-width: 650px;
  text-align: center;
}
.functions_inside {
  border-radius: 20px;
  padding: 33px 45px 33px 45px;
}

.functions_carousell .slick-dots {
  background: red;
}
.functions_carousell_inside_block_title {
  width: 100%;
  max-width: 235px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin: 12px 0 0;
}
.functions_carousell_inside_block_text {
  color: var(--theme_primary_color_black);
  width: 100%;
  max-width: 235px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  margin: 5px 0 10px;
}
.functions_carousell_inside_block_btn {
  color: var(--theme_primary_color_black);
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
}
.functions_carousell_inside_block {
  box-sizing: border-box;
  padding: 5px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.functions_carousell_inside_block_icon {
  margin-bottom: 5px;
}

.functions_inside :global(.slick-dots) {
  margin: 30px 0 -50px !important;
  display: flex !important;
  justify-content: flex-end;
  width: calc(100% + 45px) !important;
}

@media (max-width: 1300px) {
  .functions {
    max-width: 880px;
  }
}
@media (max-width: 950px) {
  .functions {
    width: 580px;
  }
}

@media (max-width: 650px) {
  .functions {
    width: 380px;
  }
}
@media (max-width: 450px) {
  .functions {
    width: calc(100vw - 40px);
  }
}
@media (max-width: 400px) {
  .functions_inside {
    padding: 20px 20px 20px 30px;
  }
  .functions_inside :global(.slick-dots) {
    width: calc(100% + 20px) !important;
    margin: 30px 0 -40px !important;
  }
}
