.roaming_seach {
  width: calc(100vw - 40px);
  max-width: 1180px;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px 40px 30px;
  box-sizing: border-box;
  background-color: #f3f5ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.roaming_seach_title {
  margin: 10px 0px 0;
  padding: 0px;
  text-align: left;
}
.roaming_seach_subtitle {
  margin: -5px 0 5px;
}
.roaming_seach_input {
  background-color: #fff;
}

.suggestions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 5px;
}
.suggestions_btn {
  padding: 4px 15px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #dfe4fd;
  cursor: pointer;
}
.suggestions_empty {
  font-size: 10px;
  color: var(--theme_primary_color_blue_4);
}

.operatorTableWrapper {
  width: 100%;
}
.operatorTableWrapper table {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.operatorTableWrapper table td {
  margin: 2px;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: var(--theme_primary_color_gray_5);
}
.operatorTableWrapper table thead tr {
  margin: 2px;
  background-color: var(--theme_primary_color_gray_4);
}
.operatorTableWrapper table thead tr th {
  padding: 5px 8px;
}

.hero_img_block {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.hero_img_tablet {
  display: none;
}

.hero_img {
  width: 100%;
  height: auto;
}

.roaming_warning {
  width: calc(100vw - 40px);
  max-width: 1180px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f3f5ff;
  display: flex;
  align-items: stretch;
  gap: 0px;
  overflow: hidden;
  justify-content: flex-start;
}
.roaming_warning_red {
  width: 8px;
  height: auto;
  background-color: #f8af43;
}
.roaming_warning_inside {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
}
.roaming_title {
  margin: 30px auto;
}

.roaming_activate {
  width: calc(100vw - 40px);
  max-width: 1180px;
  margin: 50px auto 60px;
}
.roaming_activate_title {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 10px;
}
.roaming_activate_inside {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 10px auto 0px;
}
/*.roaming_activate_left {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  width: 100%;*/
/*  max-width: 580px;*/
/*  gap: 6px;*/
/*  margin-top: 20px;*/
/*}*/

.roaming_activate_left {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 580px;
  gap: 6px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.roaming_activate_inside_card {
  width: 100%;
  max-width: 570px;
}
.roaming_activate_note {
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
  max-width: 580px;
}
.roaming_activate_inside_card {
  display: flex;
  gap: 5px;
}
.roaming_activate_inside_card_icon {
  width: 24px;
  height: 24px;
}

.roaming_tarifs {
  width: 100%;
  background-color: var(--theme_primary_color_gray_2);
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roaming_tarifs_inside {
  width: calc(100vw - 40px);
  max-width: 1180px;
  margin: 40px auto;
}
.roaming_tarifs_cards {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.roaming_tarifs_card {
  text-align: center;
  width: 180px;
}
.roaming_tarifs_card_top {
  height: 55px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 5px;
  font-weight: 600;
}
.roaming_tarifs_card_bottom {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.operatorTableWrapper_text {
  font-size: 10px;
  line-height: 12px;
  color: #8c8c8c;
  text-align: left;
  margin: -10px auto 0;
  padding: 0 10px;
  box-sizing: border-box;
}
.roaming_tarifs_card_text {
  font-size: 10px;
  line-height: 12px;
  color: #8c8c8c;
  text-align: center;
  margin: 10px auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.roaming_tarifs_card_text span {
  color: #669df5;
  text-decoration: underline;
}

.roaming_carousell :global(.slick-dots) {
  margin-top: 15px !important;
}
.roaming_carousell :global(.slick-next:before) {
  content: none !important;
}
.roaming_carousell :global(.slick-next) {
  right: -45px !important;
  margin-top: -20px !important;
  width: 36px;
  height: 36px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  color: #bdbdbe; /* default tint for the arrow */
  transition: color 0.2s ease-in-out;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'><rect width='36' height='36' rx='18' fill='%23F2F2F3'/><path fill='currentColor' d='M23.5587 16.916C24.1447 17.5 24.1467 18.446 23.5647 19.034L16.6077 26.056C16.3147 26.352 15.9287 26.5 15.5427 26.5C15.1607 26.5 14.7787 26.355 14.4867 26.065C13.8977 25.482 13.8947 24.533 14.4777 23.944L20.3818 17.984L14.4408 12.062C13.8548 11.478 13.8528 10.5279 14.4378 9.941C15.0218 9.354 15.9738 9.353 16.5588 9.938L23.5587 16.916Z'/></svg>") !important;
  transform: rotate(180deg);
}
.roaming_carousell :global(.slick-prev:before) {
  content: none !important;
}
.roaming_carousell :global(.slick-prev) {
  left: -45px !important;
  margin-top: -20px !important;
  width: 36px;
  height: 36px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  color: #bdbdbe; /* default tint for the arrow */
  transition: color 0.2s ease-in-out;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'><rect width='36' height='36' rx='18' fill='%23F2F2F3'/><path fill='currentColor' d='M23.5587 16.916C24.1447 17.5 24.1467 18.446 23.5647 19.034L16.6077 26.056C16.3147 26.352 15.9287 26.5 15.5427 26.5C15.1607 26.5 14.7787 26.355 14.4867 26.065C13.8977 25.482 13.8947 24.533 14.4777 23.944L20.3818 17.984L14.4408 12.062C13.8548 11.478 13.8528 10.5279 14.4378 9.941C15.0218 9.354 15.9738 9.353 16.5588 9.938L23.5587 16.916Z'/></svg>") !important;
  transform: rotate(180deg);
}
.roaming_carousell :global(.slick-prev:hover) {
  color: #727272;
  cursor: pointer;
}
.roaming_carousell {
  width: 100%;
  max-width: 1180px;
  margin-top: 5px;
}
.roaming_carousell_block_sp {
  background: #dfe4fd;
  padding: 2px;
  box-sizing: border-box;
  width: 384px;
  border-radius: 22px;
}
.roaming_carousell_block_sp_title {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  width: 100%;
  margin: 3px auto -28px;
}
.roaming_carousell_block_sp .roaming_carousell_block_inside {
}
.roaming_carousell_block_inside {
  margin: 30px auto 0;
  background-color: #f2f3f7;
  border: 1.25px transparent var(--theme_primary_color_gray_3);
  width: 380px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
}
.roaming_carousell_block_inside_btns {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.wifi_plus_full_block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 20px;
  box-sizing: border-box;
}
.wifi_plus_full_block_inside_sutitle {
  width: 100%;
  max-width: 96vw;
  text-align: center;
}
.wifi_plus_full_block_inside {
  width: 100%;
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionsandservices_block_title {
  font-size: 26px;
  font-weight: 600;
}
.optionsandservices_block_inside {
  width: 100%;
  margin: 40px 0;
  height: 160px;
}
.optionsandservices_block_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dotted #d9d9d9;
  font-size: 14px;
}
.optionsandservices_block_list_left {
  font-weight: 600;
  line-height: 1;
}
.optionsandservices_block_list_left span {
  font-weight: 500;
  font-size: 12px;
}
.optionsandservices_block_subtitle {
  font-size: 12px;
  color: #666666;
  line-height: 14px;
  margin-top: 10px;
  margin-bottom: -10px;
  height: 28px;
}
.optionsandservices_block_list_left :global(.br_roaming) {
  display: none;
}
.optionsandservices_block_list_left .br_roaming {
  display: none;
}

.roaming_activate_right {
  width: 100%;
  max-width: 580px;
  display: flex;
  gap: 10px;
}
.roaming_activate_right_card {
  position: relative;
  width: 100%;
  max-width: 285px;
  /*height: 220px;*/
  aspect-ratio: 1.35/1;
  border-radius: 15px;
  background: #e7e7e7;
  padding: 24px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 19px;
  line-height: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.roaming_activate_right_card_1 {
  background-image: url('/images/landings/12170382.webp');
  background-size: cover;
}
.roaming_activate_right_card_2 {
  background-image: url('/images/landings/11633189.webp');
  background-size: cover;
}
.roaming_activate_right_card_btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.roaming_activate_right_card:hover .roaming_activate_right_card_btn {
  transform: scale(1.1);
}

.guide_title {
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 10px 0 20px;
}
.guide_subtitle {
  font-size: 18px;
  font-weight: 500;
}
.guide_img {
  width: 100%;
  max-width: 200px;
}
.roaming_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px auto 10px;
  padding: 0 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@media (max-width: 1300px) {
  .hero {
    width: 1300px;
    margin-left: calc((1300px - 100vw) / -2);
  }
  .roaming_carousell {
    max-width: 780px;
  }
  .roaming_seach {
    max-width: 880px;
  }
  .roaming_warning {
    max-width: 880px;
  }
  .roaming_tarifs_inside {
    max-width: 880px;
  }
  .roaming_tarifs_cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .roaming_tarifs_card {
    width: 280px;
  }
  .roaming_activate_left {
    flex-direction: column;
  }
  .roaming_activate {
    max-width: 880px;
  }
}
@media (max-width: 1150px) {
  .hero {
    width: 1150px;
    margin-left: calc((1150px - 100vw) / -2);
  }
  .roaming_activate {
    max-width: 580px;
  }

  .roaming_seach {
    max-width: 580px;
  }
  .roaming_warning {
    max-width: 580px;
  }
  .roaming_tarifs_inside {
    max-width: 580px;
  }
  .roaming_carousell {
    max-width: 390px;
  }
  .roaming_tarifs_card {
    width: 180px;
  }
  .roaming_activate_inside {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .hero {
    width: 1000px;
    margin-left: calc((1000px - 100vw) / -2);
  }
  .hero_img_tablet {
    display: block;
    width: 1400px;
    margin-left: calc((1400px - 100vw) / -2);
  }
  .hero {
    margin-left: 0;
    width: 100%;
  }
  .hero_img {
    display: none;
  }
  .roaming_tarifs_card {
    width: calc(50% - 10px);
  }
  .roaming_tarifs_inside_title {
    padding: 0px;
  }
}

@media (max-width: 650px) {
  .hero_img_tablet {
    display: block;
    width: calc(100vw * 2.3);
    margin-left: calc(((100vw * 2.3) - 100vw) / -2);
  }
  .roaming_warning {
    margin-bottom: 40px;
    margin-top: 5px;
  }
  .roaming_carousell :global(.slick-dots) {
    margin-top: 5px !important;
  }
  .roaming_seach {
    margin-top: 30px;
    padding: 20px 20px 30px;
  }
  .roaming_carousell_block_inside {
    width: 280px;
  }
  .roaming_carousell_block_sp {
    width: 284px;
  }
  .roaming_carousell {
    max-width: 290px;
  }

  .roaming_carousell :global(.slick-next) {
    right: -40px !important;
  }
  .roaming_carousell :global(.slick-prev) {
    left: -40px !important;
  }
  .optionsandservices_block_list_left :global(.br_roaming) {
    display: block;
  }
  .optionsandservices_block_list_left br_roaming {
    display: block;
  }
  .optionsandservices_block_inside {
    width: 100%;
    margin: 40px 0;
    height: 210px;
  }
  .optionsandservices_block_title {
    width: calc(100% * 1.2);
  }
  .roaming_activate_right {
    width: 100%;
    max-width: 96vw;
    flex-direction: column;
    align-items: center;
  }
  .roaming_btns {
    display: none;
  }
  .roaming_warning_red {
    width: 10px;
  }
}

.videos_popup_show {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.82);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
}
.videos_carousell_iframe_popup {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 800px;
  margin: 40px;
}
